<div class="container">
  <mat-card>
    <mat-card-content>
      <mat-tab-group class="demo-tab-group">
        <mat-tab label="Tab 1">
          <ng-template mat-tab-label>
              <mat-icon>directions_run</mat-icon>
          </ng-template>
          <div class="mat-tab-content">
            <mat-card>
              <mat-card-content class="full-width">
                  <mat-form-field>
                      <mat-select placeholder="Ejercicio cardio">
                        <mat-option *ngFor="let cardio of cardios" [value]="cardio.value">
                          {{ cardio.viewValue }}
                        </mat-option>
                      </mat-select>
                  </mat-form-field>
                  <mat-form-field>
                    <input matInput type="number" placeholder="Total" value="100" class="no-spinners">
                  </mat-form-field>
              </mat-card-content>
            </mat-card>
            <mat-card>
              <mat-card-content class="full-width">
                <mat-form-field>
                    <mat-select placeholder="Abdominales">
                      <mat-option *ngFor="let abdo of abdominales" [value]="abdo.value">
                        {{ abdo.viewValue }}
                      </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="number" placeholder="Total" value="50" class="no-spinners" >
                </mat-form-field>
              </mat-card-content>
            </mat-card>
            <mat-card>
              <mat-card-content class="full-width">
                <mat-form-field>
                    <mat-select placeholder="Push Ups">
                      <mat-option *ngFor="let pushUp of flexiones" [value]="pushUp.value">
                        {{ pushUp.viewValue }}
                      </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="number" placeholder="Total" value="50" class="no-spinners">
                </mat-form-field>
              </mat-card-content>
            </mat-card>
          </div>
        </mat-tab>
        <mat-tab label="Tab 2">
          <ng-template mat-tab-label>
              <mat-icon>fastfood</mat-icon>
          </ng-template>
        </mat-tab>
        <mat-tab label="Tab 3">
          <ng-template mat-tab-label>
              <mat-icon>calendar_today</mat-icon>
          </ng-template>
          <mat-form-field class="mat-tab-content">
              <input matInput [matDatepicker]="picker" placeholder="Día del ejercicio">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
          </mat-form-field> 
        </mat-tab>
        <mat-tab label="Tab 4">
          <ng-template mat-tab-label>
              <mat-icon>show_chart</mat-icon>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>

  <div class="button-row">
    <button mat-fab class="save-fab-button">
        <mat-icon aria-label="Boton guardar">save</mat-icon>
    </button>
  </div>
</div>
